@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --red-color: #fa0303;
    --green-color: #0a9745;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'arial', sans-serif;
    scroll-behavior: smooth;
    white-space: nowrap;

}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 10px 100px;
    z-index: 10000;
    display: block;
    justify-content: space-between;
    transition: 0.5s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    background: #212121;
}


header .logo {
    position: absolute;
    background-image: url("Obrazky/untitled-1.png");
    object-fit: none;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 10px;

}

header .logoName {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    top: -.5rem;
    float: left;
}

header .navigation {
    float: right;
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    color: #fff;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    margin-right: 20px;
    font-weight: 300;

}

header .navigation li a.aktivne {
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
}

header .navigation li a:hover {

    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
}

.menuIcon {
    display: none;

}

h2 {
    font-size: 4em;
    left: 20%;
    color: #fff;
}

p {
    font-weight: 300;
    color: #fff;
    padding-bottom: 15px;
}

.uvod {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background: url(obrazky/pozadie1.png) center;
    text-align: center;
}

.uvod .content {
    margin-left: 20%;
}

.podnadpis {

    color: var(--red-color);
    font-size: 1.5em;

    margin-bottom: 1em;
}

.btn {
    background-color: var(--red-color);
    padding: 0.3em 1em;
    display: inline-block;
    border-radius: 3em;
    border: solid transparent;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    transition: 0.5s;

    padding: 0.3em 3em;

}

@media (max-width: 1000px) {


}

@media screen and (max-width: 600px) {

}