@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --red-color: #fa0303;
    --green-color: #0a9745;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'arial', sans-serif;
    scroll-behavior: smooth;
    text-wrap: normal;

}

p {
    /*display: inline-block;*/
    margin-left: 40px;
}

header {
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 10px 100px;
    z-index: 10000;
    display: block;
    justify-content: space-between;
    transition: 0.5s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    background: #212121;
}


header .logo {
    position: absolute;
    background-image: url("Obrazky/untitled-1.png");
    object-fit: none;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 10px;

}

header .logoName {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    top: -.5rem;
    float: left;
}

header .navigation {
    float: right;
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    color: #fff;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    margin: 0 14px;
    padding: 0 2px;
    font-weight: 300;

}

header .navigation li a.aktivne {
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);

}

header .navigation li a:hover {

    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);

}

.menuIcon {
    display: none;

}

section {
    margin-bottom: 50px;
}

.about {
    width: 80%;

    position: relative;
    left: 10%;
    overflow: hidden;
}

.about p {
    position: relative;
    margin-bottom: 20px;
    text-align: justify;
}

.about .photo {
    width: 150px;
    height: 150px;
    shape-outside: circle();
    position: relative;
    float: right;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 3px solid #212121;
    background: url("obrazky/fotka2.png") center;

}

h2 {
    font-size: 3em;
    left: 20%;
    color: var(--red-color);
    margin-bottom: 20px;
    display: block;
}

.content h2 {
    font-size: 4em;
    left: 20%;
    color: #fff;
    margin-bottom: 0;
}

.stred {

    /*   margin: 20px;*/
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

p {
    font-weight: 300;
    color: #212121;
    margin-bottom: 15px;
}

.uvod {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background: url(obrazky/pozadie1.png) center;
    text-align: center;
}

.uvod .content {
    margin-left: 20%;
}

.podnadpis {

    color: var(--red-color);
    font-size: 1.5em;

    margin-bottom: 1em;
}

.btn {
    background-color: var(--red-color);
    padding: 0.3em 1em;
    display: inline-block;
    border-radius: 3em;
    border: solid transparent;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    transition: 0.5s;

    padding: 0.3em 3em;

}

.portfolio {
    width: 80%;

    position: relative;
    left: 10%;
    overflow: hidden;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 70px 0;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio .box {
    overflow: hidden;
    max-width: 300px;
    flex: 0 0 30%;
    padding: 10px;
    flex-wrap: wrap;

    margin: 50px 0;
    text-align: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 250px;
    display: inline-block;
    position: relative;
    transition: all .2s ease-in-out;
}

img {
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: center;
    object-fit: contain;


}

.portfolio .box img {
    width: 100%;

    padding: 0 15px 0 15px;
    height: 200px;
}

.portfolio .box:hover {
    transform: scale(1.1);
}


.portfolio .box .detail {
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;
    bottom: 5px;

}

section {
    margin-bottom: 150px;
}

footer{
    position: static;
}

.footer-body p {
    color: white;
}
.footer-body{
    background-color: #212121;
    color: white;
    text-align: left;
    box-sizing: border-box;
    width:100%;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    font-size: 0.7em;
}

.footer-body .footer-left,.footer-body .footer-center,.footer-body .footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer-body .footer-left{
    width: 30%;

}

.footer-body h2{
    color: white;
    margin:0;
}
.footer-body  p{
    margin-left:0;
}

.footer-body .footer-links a{
    color: white;
    margin: 20px 0 12px;
    text-decoration: none ;
    display: inline-block;

}

.footer-body .footer-company-name{
    color:var(--red-color);
    font-size: 1em;
    margin:0;

}

.footer-body .footer-center{
    width: 35%;
}

.footer-body .footer-center i{
    text-align: center;
    background-color: var(--red-color);
    border-radius: 50%;
    margin:10px 15px;
    vertical-align: middle;
    color: white;
    font-size: 1.5em;
    line-height: 32px;
    width: 32px;
    height: 32px;
}
.footer-body .footer-center i.fa-envelope{
    font-size: 1.5em;

}

.footer-body .footer-center p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;

}

.footer-body .footer-right{
    width: 30%;

}

.footer-body .footer-icons{
   margin-top:25px;
    color: white;
}

.footer-body .footer-icons a {
    display: inline-block;
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    /*background-color: white*//*var(--red-color);*/
}
.footer-body .footer-icons .btn {
    margin-top: 20px;
}
.footer-body .footer-icons a:hover {
    color: var(--red-color);
}
@media (max-width: 1000px) {
    .portfolio .box {

        flex: 0 0 45%;
        margin: 30px 0;
    }
    .footer-body .footer-left, .footer-body .footer-center, .footer-body .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-body .footer-center {
        margin-left: 15%;
        text-align: left;
    }

}
@media (max-width: 600px) {
    .grid  {

        flex-direction: column;
        align-items: center;
    }
}
